

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/assets/fonts/Pokemon Solid.ttf') format('truetype');
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  