
<ion-content>
  <h1 class="pokedex-title">Pokedex</h1>
  <div class="pokedex-list">
    <div *ngFor="let pokemon of pokemons" class="pokemon-item">
      <div class="pokemon-thumbnail">
        <img [src]="pokemon.image" [alt]="pokemon.name">
      </div>
      <div class="pokemon-details">
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <p class="pokemon-info">Height: {{ pokemon.height }}</p>
        <p class="pokemon-info">Weight: {{ pokemon.weight }}</p>
        <p class="pokemon-info">Abilities: {{ pokemon.abilities.join(', ') }}</p>
        <p class="pokemon-info">Types: {{ pokemon.types.join(', ') }}</p>
        <p class="pokemon-description">Description: {{ pokemon.description }}</p>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-button (click)="nextPage()">Next</ion-button>
  </div>
</ion-content>
