<ion-content>
  <h1>Pokedex</h1>
  <div class="pokedex-list">
    <div class="pokemon-item" *ngFor="let pokemon of pokemons">
      <div class="pokemon-thumbnail">
        <img [src]="pokemon.image" [alt]="pokemon.name">
      </div>
      <div class="pokemon-details">
        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
        <p class="pokemon-info">Height: {{ pokemon.height }}</p>
        <p class="pokemon-info">Weight: {{ pokemon.weight }}</p>
        <p class="pokemon-info">Abilities: {{ pokemon.abilities.join(', ') }}</p>
        <p class="pokemon-info">Types: {{ pokemon.types.join(', ') }}</p>
        <p class="pokemon-description">Description: {{ pokemon.description }}</p>
      </div>
    </div>
  </div>
</ion-content>
